<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets/"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "de.hsbremen.mfischer"
    version   = "0.0.1">

    <name>Electricity Watcher :)</name>
    <description>YEAH! Watches your electricity!</description>
    <author href="#" email="hihi@haha.de">Marcus Fischer</author>
</widget>
