a {
    font-size: 20px;
    color: red;
}

.kwFieldBeforeComma {
    width: 80px;
}

.kwFieldAfterComma {
    width: 40px;
}

.statisticAnker {
    margin-top: 20px;
}

.kwhDiv {
    border: 1px solid red;
    width: 40%;
    padding: 5px;
    margin: 30px 0;
}